.table-view .column-header {
    -fx-background-color: #eeeced;
    background-color: #eeeced;
    -fx-text-fill: #000000; /* Cor do texto do cabeçalho */
}

.table-row-cell {
    -fx-background-color: #f0f0f0; /* Cor de fundo das células da tabela */
    background-color: #f0f0f0; /* Cor de fundo das células da tabela */
}

.table-row-cell:even {
    -fx-background-color: #e0e0e0; /* Cor de fundo das células pares */
    background-color: #e0e0e0; /* Cor de fundo das células pares */
}

.table-row-cell:hover {
    -fx-background-color: #d0d0d0; /* Cor de fundo ao passar o mouse sobre as células */
    background-color: #d0d0d0; /* Cor de fundo ao passar o mouse sobre as células */
}