.button {
    -fx-background-color: #fbfbfb;
    background-color: #fbfbfb;
}

.button .text {
    -fx-fill: #9f9ea5;
    fill: #9f9ea5;
}

.buttonSelected, .buttonHover:hover {
    -fx-background-color: #49bd98;
    background-color: #49bd98;
}

.buttonSelected .text, .buttonHover:hover .text {
    -fx-fill: #fbfbfb;
    fill: #fbfbfb;
}


