.backgroundCardColor {
    -fx-background-color: linear-gradient(to left, #49bd98, #78ceb3);
    background-color: linear-gradient(to left, #49bd98, #78ceb3)
}

.hbox-container {
    -fx-spacing: 10; /* Espaçamento desejado entre os cards */
}